## Extracts the manufacturing failure data set from the cloud

In [1]:
# Imports 
import yaml
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Task 2
# Step 3: function to parse a yaml file into a dictionary format 
yaml_file = 'credentials.yaml'

def yaml_to_dict(yaml_file):
        '''
        converts a YAML file into a python dictionary type
        '''
        with open(yaml_file) as file:
               return yaml.safe_load(file)

# Test with the "credentials.yaml" file               
credentials_dict = yaml_to_dict(yaml_file='../config/credentials.yaml')
credentials_dict

{'RDS_HOST': 'eda-projects.cq2e8zno855e.eu-west-1.rds.amazonaws.com',
 'RDS_PASSWORD': 'EDAprocessanalysis',
 'RDS_USER': 'manufacturinganalyst',
 'RDS_DATABASE': 'process_data',
 'RDS_PORT': 5432,
 'DATABASE_TYPE': 'postgresql',
 'DBAPI': 'psycopg2'}

In [3]:
# Step 4 & 5 
class RDSDatabaseConnector(dict):
        '''
        This Class is used to connect to the AWS RDS Database
        '''
        def __init__(self, dict):
              self.dict = dict
              
      # define a function 
        def initialise_SQL_engine(self):
              '''
              Initalises the connection using the relevant credentials
              '''
              DATABASE_TYPE = self.dict['DATABASE_TYPE']
              DBAPI = self.dict['DBAPI']
              RDS_USER = self.dict['RDS_USER']
              RDS_PASSWORD = self.dict['RDS_PASSWORD']
              RDS_HOST = self.dict['RDS_HOST']
              RDS_PORT = self.dict['RDS_PORT']
              RDS_DATABASE = self.dict['RDS_DATABASE']

              engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{RDS_USER}:{RDS_PASSWORD}@{RDS_HOST}:{RDS_PORT}/{RDS_DATABASE}")
              engine.execution_options(isolation_level='AUTOCOMMIT').connect()

              return engine

In [4]:
# Step 6 - extract data from RDS and return it as a pandas dataframe 
def extract_data_as_pandas_df(table_name, engine):
    '''
    Extracts data as a pandas DataFrame 
    '''
    df = pd.read_sql_table(table_name, engine)
    return df

# Step 7 - export the data as a csv
def export_data_as_csv(data, file_name):
    '''
    Exports data as .csv file
    '''
    data.to_csv(f"{file_name}.csv")
#failure_data.to_csv('failure_data.csv')

In [5]:
# Testing the Class 
database_1 = RDSDatabaseConnector(credentials_dict).initialise_SQL_engine() 
database_1

Engine(postgresql+psycopg2://manufacturinganalyst:***@eda-projects.cq2e8zno855e.eu-west-1.rds.amazonaws.com:5432/process_data)

In [6]:
# Testing extract_data_as_pandas_df()
df_1 = extract_data_as_pandas_df(table_name='failure_data', engine = database_1).head(1)

In [7]:
# Testing export_data_as_csv()
export_data_as_csv(df_1, 'test')

In [8]:
# Inital glance at the data
failure_data = pd.read_csv('../data/failure_data.csv')
failure_data.head(3)

,Unnamed: 0,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,3416,L50595,L,301.4,310.4,1579,36.9,133.0,0,0,0,0,0,0
1,1,7130,L54309,L,300.6,310.0,1635,31.0,107.0,0,0,0,0,0,0
2,2,2320,M17179,M,299.2,308.8,1700,33.5,185.0,0,0,0,0,0,0

In [9]:
failure_data.describe()

,Unnamed: 0,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,10000.00000,10000.00000,9162.000000,9119.000000,10000.000000,10000.000000,9516.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,4999.50000,5000.50000,300.008590,310.011580,1538.776100,39.986910,108.219525,0.033900,0.004600,0.011500,0.009500,0.009800,0.00190
std,2886.89568,2886.89568,1.999148,1.480138,179.284096,9.968934,63.612534,0.180981,0.067671,0.106625,0.097009,0.098514,0.04355
min,0.00000,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,2499.75000,2500.75000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,4999.50000,5000.50000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,7499.25000,7500.25000,301.500000,311.100000,1612.000000,46.800000,163.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,9999.00000,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [10]:
failure_data
percentage_of_null = failure_data.isnull().sum() / len(failure_data) * 100  
percentage_of_null[percentage_of_null > 0]

Air temperature [K]        8.38
Process temperature [K]    8.81
Tool wear [min]            4.84
dtype: float64

#### Machine failure dataset data dictionary

- **UID**: Unique identifier of the machining session
- **product_ID**: Product specific serial number
- **Type**: Quality of the product being created L, M, or H, for low, medium and high quality products
- **air temperature [K]**: Average air temperature in the room during the process in Kelvin
- **process temperature [K]**:  Average air temperature the machine was operating at during production in Kelvin
- **Rotational speed [rpm]**: Average revolutions per minute the tool was operating at
- **Torque [Nm]**: Torque generated by the tool in Newton-meters
- **Tool wear [min]**: The current minutes of wear on the tool in minutes. H, M and L product manufacturing cause 5/3/2 minutes of tool wear. 
- **machine failure**: Label that indicates, whether the machine failed this particular run
- **TWF (tool wear failure)**: Failure in the process due to the tool wearing out
- **head dissipation failure (HDF)**: Lack of heat dissipation caused the process failure
- **power failure (PWF)**: Failure in the process due to lack of power from the tool to complete the process
- **overstrain failure (OSF)**: Failure due to the tool overstraining during the process
- **random failures (RNF)**: Failures in the process which couldn't be categorised

#### Initial thoughts on the data 
- The dependant variable is `machine failure`
- The lower the qualiity of the product, the less the wear on the tools
- TWF, HDF and OSF are likely to be correlated, potential endogeniety problem.